.footer{
  padding: 56px 0;
  background-size: cover;
  position: relative;
}

.footer p{
  background:  #EEE;
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #000;
}

.footer a{
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
}

.credit{
  background:  #EEE;
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #000;
}

.copyright{
  text-align: center;
  color: #FFF;
}