{
  "presets": ["@babel/preset-env", "@ava/stage-4"],
  "plugins": ["@babel/plugin-transform-runtime"],
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}
