{
  "extends": ["standard", "plugin:ava/recommended"],
  "parser": "babel-eslint",
  "plugins": ["ava"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": [1, "always-multiline"]
  }
}
