{
  "extends": ["standard", "plugin:ava/recommended"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.6"
    }
  },
  "parser": "babel-eslint",
  "plugins": ["ava"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": [1, "always-multiline"]
  }
}
