.informations h1 {
  text-align: center;
}
.informationsDate {
  text-align: center;
}

.informations p {
  margin: 0.8em 0;
}

.informations li {
  margin: 0.3em 0;
}

.informations h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.informations ol li {
  margin-left: 20px;
}
.informations ul li {
  margin-left: 20px;
}

.informations h3 {
  margin-top: 20px;
}
